{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.babel.js"
      }
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "global-require": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0
  }
}