@import "~assets/css/vars/colors";


html {
  font-family: Arial, sans-serif;
  background-color: $lightest-gray;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}