$white: #ffffff;
$lightest-gray: #f3f3f3;
$lighter-gray: #e2e2e2;
$gray: #989898;
$dark-gray: #696270;
$darker-gray: #514b56;
$darkest-gray: #3c3741;
$black: #222222;

$blue: #5a92ad;
$light-blue: #91abc4;